<div class="center">
  <div class="row">
    <% @listings.each do |listing| %>
      <div class="col-md-4">
        <div class="thumbnail">
          <div class="caption text-align">

            <%= link_to image_tag(listing.image.url), listing %>
            <h3 class = "font-for-links"><b><%= listing.name %></b></h4>

            <p>
              <h5>
                <%= truncate(listing.description, length:175, class: "font-main") %>... <%= link_to 'See more', listing, class: "font-for-links" %>
              </h5>
            </p>

            <h5>
              <p class = "font-for-links"><b>
               <%= number_to_currency(listing.price) %>
             </b></p>
           </h5>

          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
