<%= form_for([@listing, @order]) do |f| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2 class="font-main"><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li class="font-for-links"><%= message %></li>
      <% end %>
      </ul>
    </div>
    <hr>
  <% end %>

  <div class="form-group">
    <%= f.label :address, class: 'font-main' %>
    <%= f.text_field :address, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :city, class: 'font-main' %>
    <%= f.text_field :city, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :state, class: 'font-main' %>
    <%= f.text_field :state, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit class: 'btn btn-success form-control font-main' %>
  </div>
<% end %>
