<% if @orders.present? %>
  <h2 class="font-main">Your Sales History</h2><hr>

  <table class="table table-striped table-bordered">
    <tr>
      <th class="center font-main">Image</th>
      <th class="center font-main">Item</th>
      <th class="center font-main">Price</th>
      <th class="center font-main">Customer</th>
      <th class="center font-main">Date Sold</th>
    </tr>

    <% @orders.each do |order| %>
      <tr>
        <td class="center"><%= image_tag order.listing.image.url(:thumb) %></td>
        <td class="center"><%= order.listing.name %></td>
        <td class="center"><%= number_to_currency(order.listing.price) %></td>
        <td class="center"><%= order.buyer.name %></td>
        <td class="center"><%= order.created_at.strftime("%B %-d, %Y") %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  <center>
    <h1 class="font-main center-align"> Your sales history is empty.
      <br>
       <%= link_to 'Add new item', new_listing_path, class: 'font-for-links' %>
        <br>
        <%= link_to 'Manage your listings', seller_path, class: 'font-for-links' %>
    </h1>
  </center>
<% end %>
