<!DOCTYPE html>
<html>
  <head>
    <title>Storeapp</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="https://fonts.googleapis.com/css?family=Barrio|Cabin|Work+Sans:300" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'navigation/navbar' %>
    <div class="container">
      <%= yield %>
    </div>
    <!--<%= render 'navigation/footer' %>-->
  </body>
</html>
